{% extends "layout.html" %}

{% block title %}
{{ super()}}
Scope Creeps
{% endblock %}

{% block content %}
{{ super() }}


<div class="container-fluid content">

	<div class="col-md-12">
		{% for category, message in get_flashed_messages(with_categories=true) %}
		<div class="alert alert-{{ category }}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
		{% endfor %}
		<br/>


		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Path Health Matrix
					</div>
					<div class="panel-body">
						<div class="col-lg-6 col-md-12">
							<img
								src="{{ url_for('static', filename='diagram.png')}}"
								width="100%"
								align="middle"
							/>
						</div>
						<div class="col-lg-6 col-md-12">
						  <h2>Path Capacity</h2>
	            <table class="table">
								<thead>
								<tr>
	                  <th data-sortable="false"></th>
	                  {% for leaf in headers %}
	                  <th data-sortable="false">{{ leaf }}</th>
	                  {% endfor %}
								</tr>
								</thead>
								<tbody>
								{% for leaf, details in leaf_metrics.items() %}
	                <tr>
	                  <th> {{ leaf }} </th>
										{% for far_side, metrics in leaf_metrics.items() %}
											{% if leaf == far_side %}
												<td></td>
										  {% elif leaf in metrics.keys() %}
												{% set health = metrics[leaf] %}
												{% set color = "primary" %}
												{% if health < 20 %}
													{% set color = "warning" %}
												{% endif %}
												{% if health < 7 %}
													{% set color = "danger" %}
												{% endif %}
													<td>
														<a class="btn btn-{{color}}"
															role="button"
															data-toggle="collapse"
															href="#{{leaf}}-{{far_side}}"
															aria-expanded="false"
															aria-controls="{{leaf}}-{{far_side}}"
															data-parent="#infoPanels">
														{{ health }}
														</a>
													</td>
											{% else %}
												<td>---</td>
											{% endif %}
										{% endfor %}
									</tr>
								{% endfor %}
								</tbody>
							</table>
							<div id="infoPanels">
						    <div class="panel">
									{% for pair in capacities %}
										{% set near, far, details = pair %}
										<div class="collapse" id="{{near}}-{{far}}"">
											<div class="well">
											  <h3>{{ near }} --> {{ far }}</h3>
											  {% for node, capacity in details.items() %}
													{% set values = [] %}
													{% for peer, value in capacity.items() if value > 0 %}
														{% do values.append([peer, value]) %}
													{% endfor %}
													{% if values %}
														{% for v in values %}
															{{ v[0] }} ({{v[1]}})
														{% endfor %}
														</br>
													{% endif %}
												{% endfor %}
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


</div>

{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
